__pycache__/*
log/*
build/*
install/*
src/robot_control/build/*
src/robot_control/install/*
src/robot_control/log/*
src/robot_control/resource/*
src/robot_control/test/*

src/navigation/build/*
src/navigation/install/*
src/navigation/log/*
src/navigation/resource/*
src/navigation/test/*

src/robot_camera/build/*
src/robot_camera/install/*
src/robot_camera/log/*
src/robot_camera/resource/*
src/robot_camera/test/*
